@model VisualizzaLog.Models.Arplog

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo elemento?</h3>
<div>
    <h4>Mapping Indirizzi MAC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArplogTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArplogTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interface)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" />
    </form>
</div>
