@model VisualizzaLog.Models.Rule

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>

<div>
    <h4>Regola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenuto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifica</a>
</div>
